.backgroundImage {
  background: url("images/your_verse_hero.jpg")   50% 100% no-repeat;
  height: 550px;
}

.nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 980px;
  background: linear-gradient(#707070 50%, #5f5f5f 55%, #757575);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 2px;
}

.navTop {
  margin-top: 40px;
}

.lineItems {
  border: 1px solid #ccc;
  font-family: "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  vertical-align: middle;
  width: 105.625px;
}

.list {
  width: 100%;
  display: table;
  flex-wrap: wrap;
}

.searchBar {
  margin: 8px 0% 8px 0%;
  border-radius: 5%;
  width: 132px;
  height: 20px;
}

.imagebelow {
  width: 360px;
  max-width: 360px;
}

.setWidth {
  width: 1440px;
  max-width: 1440px;
}

#searchText {
  margin-left: 15px;
  float: right;
  padding-left: 25px;
  width: 80px;
  height: 15px;
  border-top: 2px solid #464343;
  border-bottom: 2px solid #757575;
  border-right: 1px solid #464343;
  border-left: 1px solid #464343;
  border-radius: 15px;
  color: white;
  background: linear-gradient(#707070 50%, #5f5f5f 55%, #757575);
}

.searchLogo {
  position: absolute;
  top: 12px;
  width: 16px;
  height: 16px;
  float: left;
  background-color: #757575;
  margin-left: 20px;
  background-image: url("images/search-13-16.png");
}

.noStyle {
  padding: 0%;
  margin: 0%;
}

.nav ul li:hover {
  background: linear-gradient(#707070 0%, #25292e 100%, #757575 0%);
}

.footerLeft > p:nth-child(1) {
  margin-top: 19px;
}

.mainText {
  font-family: "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
  margin: 40px auto 5px auto;
  width: 1040px;
}

.mainText h1 {
  font-size: 64px;
}

.mainText h2 {
  font-size: 32px;
}

.mainText h3 {
  font-size: 24px;
}

.mainText h1,
.mainText h2,
.mainText h3 {
  font-weight: 100;
}

.thirdText {
  width: 600px;
  max-width: 600px;
  display: flex;
  flex-wrap: nowrap;
}

.playimage {
  margin: 20px 0% 0% 8px;
  width: 30px;
  height: 30px;
}

.footerFlex {
  justify-content: center;
}

.footerLeft {
  float: left;
}

.listItem {
  margin: 5px 0% 0% 10px;
  padding-right: 6px;
  border-right: 1px solid gray;
}

.image {
  margin: 2px 0% 0% 10px;
}

.logoWidth {
  width: 20px;
}

.blue {
  color: #08c;
}

.footerLeft p a:hover,
.thirdText h3 a:hover,
.footerRight ul li a:hover {
  text-decoration: underline;
}

.flexDisplayWrap {
  display: flex;
  flex: nowrap;
}

.marginLeftRightAuto {
  margin: 0% auto 0% auto;
}

.colorWhiteNoDecoration {
  color: white;
  text-decoration: none;
}

.listStyleNone {
  list-style: none;
}

.displayBlock {
  display: block;
}

.textAlignCenter {
  text-align: center;
}

.displayTableCell {
  display: table-cell;
}

.height36px {
  height: 36px;
}

.fontSize12 {
  font-size: 12px;
}
